*{
    margin: 0;
    padding: 0;

}
article, footer, header, nav, section{
    display: block;
}

body {
    overflow: hidden;
}

.dispatch-invalid .x-change-cell {
    background-color: #eb5757;
}

#demo-ct .x-table-layout-cell {
    padding: 20px;
}

.x-spotlight {
    background-color: #ccc;

    z-index: 8999;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    width: 0;
    height: 0;
    zoom: 1;
    font-size: 0;
}

#div-info-about {
    font-size: 10px;
    font-family: sans-serif;
    color: gray
}

strong#titulo{
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: '#157fcc';
}

strong#subtitulo{
    text-align: left;
    font-size: 15px;
    color: white;
}

#map{	
    height: 100%;
    width: 100%;
    border: 2px solid #157fcc;
    position: absolute;
}

td.tabla_titulo h3{
    font-size: 12px;
    font-family: arial;
    color: blue;
}

#grafica td, th{		
    padding : 3px;
}

#grafica{
    width: 80%;	
    height: 100%;	
    text-align: center;
    margin-left: 10%;	
}

td.tabla_titulo h3{
    font-size: 12px;
    font-family: arial;
    color: blue;
}

#despachos {    
    width: 66.5em;
    height: 17.7em; 
    margin-left: 20em;
    margin-top: 10em;
    background-image: url(../img/logo.png);
}

#titulos {
    font-family: arial;
    font-size: 20px;
    color:#00008B;
}






#icono{
    position: absolute;	
    top: 140px; right: 25px;
}
