/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/12/2014, 07:04:02 PM
    Author     : Veronica C
*/

*{
    margin: 0;
    padding: 0;

}
article, footer, header, nav, section{
    display: block;
}

body {
    overflow: hidden;
}

.dispatch-invalid .x-change-cell {
    background-color:#499249 ;
}

#demo-ct .x-table-layout-cell {
    padding: 20px;
}

.x-spotlight {
    background-color: #ccc;

    z-index: 8999;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    width: 0;
    height: 0;
    zoom: 1;
    font-size: 0;
}

#div-info-about {
    font-size: 10px;
    font-family: sans-serif;
    color: gray
}

strong#titulo{
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: '#157fcc';
}

strong#subtitulo{
    text-align: left;
    font-size: 15px;
    color: white;
}

#map{	
    height: 100%;
    width: 100%;
    border: 2px solid #157fcc;
    position: absolute;
}

td.tabla_titulo h3{
    font-size: 12px;
    font-family: arial;
    color: blue;
}

#grafica td, th{		
    padding : 3px;
}

#grafica{
    width: 80%;	
    height: 100%;	
    text-align: center;
    margin-left: 10%;	
}

td.tabla_titulo h3{
    font-size: 12px;
    font-family: arial;
    color: blue;
}

#despachos {    
    width: 66.5em;
    height: 17.7em; 
    margin-left: 20em;
    margin-top: 10em;
    background-image: url(../img/logo.png);
}

#titulos {
    font-family: arial;
    font-size: 20px;
    color:#00008B;
}
#titulo {
    font-family: arial;
    font-size: 15px;
    color:#ffffff;
}


#icono{
    position: absolute;	
    top: 140px; right: 25px;
}
.x-btn{
    border-style: none;
    background: white;
}

.btn-menu{
    font-family: arial;
    font-size: 12px;
    color: #499249;

}

#imagen{
    position: absolute; bottom: 20px; right: 20px;
}
#Botones1{
    position: absolute; top: 35px; left: 1000px;
}
#Botones2{
    position: absolute; top: 35px; left: 1080px;
}
#Botones3{
    position: absolute; top: 35px; left: 1160px;
}
#Botones4{
    position: absolute; top: 35px; left: 1240px;
}

#Botones1:hover { 
    opacity: 0.5; 
    filter: alpha(opacity=30);
} 
#Botones2:hover { 
    opacity: 0.5; 
    filter: alpha(opacity=30);
} 
#Botones3:hover { 
    opacity: 0.5; 
    filter: alpha(opacity=30);
} 
#Botones4:hover { 
    opacity: 0.5; 
    filter: alpha(opacity=30);
} 
#imagenK{
    position: absolute; bottom: 20px; left: 10px;
}

.tooltip {
    display: inline;
    position: relative;
}
.tooltip:hover:after {
    bottom: 6px;
    content: attr(title); /* este es el texto que será mostrado */
    left: 5%;
    position: absolute;
    z-index: 80;
    /* el formato gráfico */
    background: rgba(255,255,255, 0.2); /* el color de fondo */
    border-radius: 5px;
    color: #000; /* el color del texto */
    font-family: Georgia;
    font-size: 12px;
    padding: 2px 5px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    width: 150px;
}
.tooltip:hover:before {
    bottom: 5px;
    content: "";
    left: 5%;
    position: absolute;
    z-index: 80;
    /* el triángulo inferior */
    border: solid;
    border-color: rgba(255,255,255, 0.2) transparent;
    border-width: 6px 6px 0 6px;
}